.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(45deg, #2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchBar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 15px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}

.searchBar img{
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weatherICON{
    width: 100px;
    margin: 30px 0px;
}

.temperature{
    color: #fff;
    font-size: 75px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 40px;
}
.weather_data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    color: #fff;
}

.weather_data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather_data .col span{
    display: block;
    font-size: 16px;
}

.weather_data .col img{
    width: 26px;
    margin-top: 10px;
}